<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="/css/user_profile.css">
</head>
<body>
    <h1>Profile Page</h1>
    <!-- <h2><%= user.name %></h2>
    <h2><%= user.email %></h2> --> 
<!-- <%=  %> -->
<img src="<%=user.avatar %>" alt="<%=user.name %>" width="100">
<% if(user.id == profile_user.id){%> 
 <!-- if user matches then show the form -->
    <form action="/users/update/<%=profile_user.id  %>" enctype="multipart/form-data" method="POST">
        <input type="text" name="name" value=" <%= profile_user.name %> " placeholder="Your Name" required>
        <input type="email" name="email" value=" <%= profile_user.email %> " placeholder="Your Email" required>

        <input type="file" placeholder="Profile Picture" name="avatar">
        <input type="submit" value="Update">
    </form>

    <% }else{   %> 
        <!-- else show only the profile information -->
        <h2><%= profile_user.name %></h2>
        <h2><%=profile_user.email %></h2>
        <%  }%> 
</body>
</html>